html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 20px;
  overflow: auto; 
}

.btn-primary {
  background-color: #5a95e6;
  border-color: #5a95e6;
}

.btn-primary:hover {
  background-color: #307fef;
}

.btn-danger {
  background-color: rgb(243, 70, 70);
  border-color: rgb(243, 70, 70);
}

.btn-danger:hover {
  background-color: rgb(249, 29, 29);
}

.btn-success {
  background-color: #3ea441;
  border-color: #3ea441;
}

.btn-success:hover {
  background-color: #099d0e;
}

/* about page */
.profile-name {
  font-size: 2.5rem;
}

.photo {
  /* object-fit: cover; */
  max-width: 100%;
  max-height: 100%;
}

.profile-circle {
  height: 250px;
  width: 250px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.mission-title, .team-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.mission-text {
  font-size: 1.2rem;
}

.youtube-video {
  width: 100%;
  height: 400px;
}

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3d8f2; 
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px; 
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.hamburger-nav {
  display: none; 
}

.btn-secondary {
  background-color: #b3d8f2 !important; 
  color: black !important; 
  border: none !important;
}

/* footer */
.footer {
  background-color: #b3d8f2; 
  color: black; 
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  width: 100%;
}

/* home */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('/img/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); /* Creates the slanted effect */
  z-index: 0;
}

.content {
  text-align: right;
  color: black;
  z-index: 1;
  margin-left: auto;
  padding-right: 30px;
}

.title {
  font-size: 5em;
  margin: 0;
  text-align: right;
}

.subtitle {
  font-size: 1.25em;
  margin: 10px 0 20px 0;
  font-weight: 500;
  text-align: right;
}

.cta-button {
  background-color: #5a95e6;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  border: none;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #307fef; 
}

.logo {
  display: flex;
  align-items: left;
}

.logo-image {
  width: auto;
  height: 50px;
  max-height: 80%; 
}

/* Quiz */
.QuizContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  height: 80vh;
  width: 100%;
}
.QuizTitle {
  font-size: 3rem;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}
.QuizContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}
.QuizImageContainer {
  flex: 1;
}
.QuizImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
.Quizcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.QuizSubtitle {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}
.QuizDescription {
  font-size: 1rem;
  color: #555555d3;
  margin-bottom: 20px;
}
.quizbutton {
  font-size: 0.9rem;
  padding: 8px 16px;
  background-color: #5a95e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  max-width: 130px;
}
.quizbutton:hover {
  background-color: #307fef;
}
/* @media (max-width: 768px) {
  .QuizContentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .QuizImageContainer {
    max-width: 80%;
  }
  .QuizImage {
    max-width: 100%;
    height: auto;
  }
  .QuizTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .QuizSubtitle {
    font-size: 1.9rem;
    text-align: center;
  }
  .QuizDescription {
    text-align: center;
  }
  .quizbutton {
    margin: 0 auto;
  }
}
*/
/* QuizQuestion */
.QuizQuestionContainer {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.QuizInstructions {
  text-align: center;
  margin-bottom: 20px;
}

.KeyContainer {
  display: flex;
  justify-content: space-between;
  background-color: #B6EFF2;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.QuestionContainer {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center; 
}

.AnswerOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.AnswerCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.Circle {
  width: 40px;
  height: 40px;
  border: 2px solid #4caf50;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.Circle:hover {
  background-color: #d4edda;
}

.AnswerCircle.selected .Circle {
  background-color: #4caf50;
  color: white;
}

.ErrorMessage {
  color: red;
  text-align: center;
  margin-top: 15px;
}

.submitButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #5a95e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton:hover {
  background-color: #307fef;
}

.QuizQuestionImage {
  display: block;
  margin: 20px auto;
  max-width: 70%;
  height: 350px;
}

.IdentityOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.IdentityOption {
  padding: 10px 20px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.IdentityOption.selected {
  background-color: #4caf50;
  color: white;
}

.IdentityOption:hover {
  background-color: #d4edda;
}

/* Map Styling */

.mapContainer {
  display: flex;
  height: 100vh;
}

.zipCodeSection {
  flex: 4; 
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.zipCodeInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.zipInput {
  flex: 3;
  /* width: 80%; */
  padding: 15px;
  font-size: 16px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
}

.zipSearchButton {
  /* width: 20%; */
  flex: 1;
  padding: 15px; 
  font-size: 16px;
  height: 50px;
  background-color: #5a95e6;
  color: white;
  border: #007bff;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  align-self: stretch;
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
}

.zipSearchButton:hover {
  background-color: #307fef;
}

.mapAbout {
  margin-top: 25px;
}

.mapSection {
  flex: 5;
  position: relative;
  padding: 20px;
}

/* Resource Details Styling */
.details-wrap h2 {
  font-size: 1.5rem;

}

.card-text {
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

/* QuizResult */
.QuizResultContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.QuizResultContainer h2 {
  margin-bottom: 30px;
}

.resourceCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: transform 0.2s;
}

.resourceCard:hover {
  transform: scale(1.02);
}

.resourceCard h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  color: #333;
}

.resourceCard p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.resourceCard a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.resourceCard a:hover {
  text-decoration: underline;
}



.retakeQuizButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #5a95e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.retakeQuizButton:hover {
  background-color: #307fef;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Resource/User Styling */
.learn-more {
  border-radius: 0 0 0 2px;
}

.action-button {
  border-radius: 0 0 2px 0;
}

.user-container {
  display: flex;
  flex-direction: column;
}

.welcome-container {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .user-container {
    /* display: flex; */
    flex-direction: row;
  }

  .youtube-video {
    height: 100%;
  }

  .nav-links {
    display: flex;
  }

  .hamburger-nav {
      display: none; 
  }
  
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5em;
    margin: 0;
    padding-right: 10px;
    text-align: right;
  }

  .subtitle {
    font-size: 1em; 
    padding-right: 10px;
    text-align: right;
    width: 300px;
  }

  .cta-button {
    font-size: 15px;
  }

  .content {
    padding-right: 10px;
  }

  .overlay {
    width: 65%; 
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%); 
  }
  
  .nav-links {
    display: none; 
  }

  .hamburger-nav {
    display: block; 
  }

  .mapContainer {
    flex-direction: column; 
    align-items: center;
  }

  .zipCodeSection {
    width: 100%; 
    padding: 0 10px;
  }
  
  .mapSection {
    max-height: 50vh;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .main-content {
    flex: 1;
    padding-bottom: 20px; 
  }

  .footer {
    margin-top: auto; 
    position: relative;
  }

  
}