html, body {
  height: 100%;
  margin: 0;
}

/* about page */

.profile-name {
  font-size: 2.5rem;
}


.photo {
  /* object-fit: cover; */
  max-width: 100%;
  max-height: 100%;
}

.profile-circle {
  height: 250px;
  width: 250px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.mission-title, .team-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.mission-text {
  font-size: 1.2rem;
}

.youtube-video {
  width: 100%;
  height: 400px;
}



/* @media (min-width: 1200px) {
  .youtube-video {
    width: 100%;
    height: 400px;
  }
} */

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3d8f2; 
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px; 
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: #b3d8f2; 
  color: black; 
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

/* home */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('/img/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); /* Creates the slanted effect */
  z-index: 0;
}

.content {
  text-align: right;
  color: black;
  z-index: 1;
  margin-left: auto;
  padding-right: 30px;
}

.title {
  font-size: 5em;
  margin: 0;
  text-align: right;
}

.subtitle {
  font-size: 1.25em;
  margin: 10px 0 20px 0;
  font-weight: 500;
  text-align: right;
}

.cta-button {
  background-color: #5a95e6;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  border: none;
}

.cta-button:hover {
  background-color: #3a78d0; 
}