html, body {
  height: 100%;
  margin: 0;
}

/* about page */
.profile-name {
  font-size: 2.5rem;
}

.circle {
  height: 250px;
  width: 250px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.photo {
  /* object-fit: cover; */
  max-width: 100%;
  max-height: 100%;
}

.mission-title, .team-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.mission-text {
  font-size: 1.2rem;
}

.youtube-video {
  width: 100%;
  height: 400px;
}

/* @media (min-width: 1200px) {
  .youtube-video {
    width: 100%;
    height: 400px;
  }
} */

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3d8f2; 
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px; 
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: #b3d8f2; 
  color: black; 
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

/* home */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  text-align: left;
  color: black;
}

.title {
  font-size: 5em;
  margin: 0;
}

.subtitle {
  font-size: 1.5em;
  margin: 10px 0 20px 0;
  font-weight: 500;
}

.cta-button {
  background-color: #5a95e6;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  border: none;
}

.cta-button:hover {
  background-color: #3a78d0; 
}


/* Quiz */
.QuizContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  height: 80vh;
  width: 100%;
}

.QuizTitle {
  font-size: 3rem;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}

.QuizContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}

.QuizImageContainer {
  flex: 1;
}

.QuizImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.Quizcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.QuizSubtitle {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

.QuizDescription {
  font-size: 1rem;
  color: #555555d3;
  margin-bottom: 20px;
}

.quizbutton {
  font-size: 0.9rem;
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  max-width: 130px;
}

.quizbutton:hover {
  background-color: #218838;
}

/* @media (max-width: 768px) {
  .QuizContentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .QuizImageContainer {
    max-width: 80%;
  }

  .QuizImage {
    max-width: 100%;
    height: auto;
  }

  .QuizTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .QuizSubtitle {
    font-size: 1.9rem;
    text-align: center;
  }

  .QuizDescription {
    text-align: center;
  }

  .quizbutton {
    margin: 0 auto;
  }
}
*/

/* QuizQuestion */
.QuizQuestionContainer {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.KeyContainer {
  display: flex;
  justify-content: space-between;
  background-color: #B6EFF2;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.QuestionContainer {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center; 
}

.AnswerOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.AnswerCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.Circle {
  width: 40px;
  height: 40px;
  border: 2px solid #4caf50; /* Adjust color*/
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Circle:hover {
  background-color: #d4edda;
}

.MapContainer {
  border: 2px;
}